@charset "UTF-8";
/* CSS Document */

/*----------MAIN DIV-----------*/
div.main_page{
	width: 90%/*1024px*/;
	height: 520px;
	background-color: #000;
	margin: 50px auto 0px auto;
	font-size: 80px;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
}

div.about{
	width: 50%;
	height: 50%;
	float: left;
	box-sizing: border-box;
}

div.comics{
	width: 50%;
	height: 50%;
	float: left;
	box-sizing: border-box;
}
div.etc{
	width: 50%;
	height: 50%;
	float: left;
	box-sizing: border-box;
}

div.illustration{
	width: 50%;
	height: 50%;
	float: left;
	box-sizing: border-box;
	font-size: 60px;
}

div.push{
	margin-top: 91px;
}

div.push_small{
	margin-top: 101px;
}

div.back{
    color: #000;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    text-align: center;
    left: 46.5%;
}


/*--------CONTENT-------*/

div.main_text_content{
    margin: 1em;
    padding-top: 2em;
    font-size: 33px;
}

.centered_box_about{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_comics{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_illustration{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_etc{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

table.color_set_text{
    width: 90%/*1024px*/;
	margin: 0px auto 0px auto;
	text-align: center;
}

/* UTILITIES */

.hide{
    display:none;
}


/* JUNK THAT MAY LATER PROVE USEFUL
 * .centered_box_visitor_form{
    z-index: 1;
    width: 100%;
    border: none;
    	background-color: #000;
    	color: #fff;
    	height: 100%;
}
 * 
 */