@charset "UTF-8";
/* CSS Document */
div.color_set{
	font-size: 12px;
}

/*----------MAIN DIV-----------*/
div.back{
    color: #000;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    text-align: center;
    left: 36.5%;
}

div.main_text_content{
    margin: 0em;
    padding:3em 0.5em 0em 0.5em;
    font-size: 20px;
    height: 460px;
}

div.main_page{
	width: 90%/*1024px*/;
	height: 460px;
	background-color: #000;
	margin: 7% auto 0 auto;
	font-size: 60px;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
}

div.about{
	height: 25%;
	box-sizing: border-box;
}

div.comics{
	height: 25%;
	box-sizing: border-box;
}
div.etc{
	height: 25%;
	box-sizing: border-box;
}

div.illustration{
	height: 25%;
	box-sizing: border-box;
	font-size: 30px;
}

div.push{
	padding-top: 8%;
}

div.push_small{
	padding-top: 15%;






/*--------CONTENT-------*/



.centered_box_about{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_comics{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_illustration{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

.centered_box_etc{
    z-index: 1;
    width: 100%;
    border: none;
    height: 100%;
    margin-top: -33px;
}

table.color_set_text{
    width: 90%/*1024px*/;
	margin: 0px auto 0px auto;
	text-align: center;
}

/* UTILITIES */

.hide{
    display:none;
}


/* JUNK THAT MAY LATER PROVE USEFUL
 * .centered_box_visitor_form{
    z-index: 1;
    width: 100%;
    border: none;
    	background-color: #000;
    	color: #fff;
    	height: 100%;
}
 * 
 */